*{
    font-family:"Source Code Pro",monospace;
}
form{
    font-family: 'Comfortaa', cursive;
}
#title{
    font-family: 'Lemonada', monospace;
    color:black!important;
}

body {
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#dcf6f7, #e7ebf1);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  }

#movieTable.dataTable tbody tr {
    background-color:#212529;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 12px 12px; /* e.g. change 8x to 4px here */
}
@media only screen and (max-device-width: 680px) {
    input::placeholder,input[type='text'],input[type='value'] {
        font-size: 35px;
    }
}
@media(min-width:576px){
    form,#add {font-size: 1.95rem;}
    #movieTable,.delete{font-size:2rem;}
    input{padding:50px 50px!important};
}
@media (min-width: 768px) {
    form,#add { font-size: 1.85rem; }
    #movieTable,.delete{font-size:1.8rem;}
    input{padding:29px 29px!important};
}
@media (min-width: 992px) {
    form,#add { font-size: 1.75rem; }
    input{padding:22px 22px!important};
}
@media (min-width: 1200px) {
    form,#add { font-size: 1rem; }
    #movieTable,.delete{font-size:1.4rem;}
    input{padding:16px 16px!important};

}
